doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  block head

  link(href='styles/styles.css', rel='stylesheet')

body
  include ./includes/navbar.jade
  block content
  include ./includes/footer.jade
    
  script(src='scripts/scripts.js')
  block scripts
